.autorization
{
    margin: 200px auto;
    background-color: #FFF5F5;
    max-width: 350px;
    width: 100%;
    height: 300px;
    z-index: 20;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.autorization__title
{
    color: #A87B7B;
    font-size: 40px;
    margin-top: 25px;
    display: inline-block;
}
.autorization-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 12px;
}
.autorization-form__input
{
    width:100%;
    height: 30px;
    border: 1px solid #ECCACA;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 20px;
}
.autorization-form__input:not(:last-of-type)
{
    margin-bottom: 20px;
}
.autorization-form__input:focus
{
    outline:0px;
}
.autorization-form__input::placeholder
{
    color:#ECCACA;
    font-size: 20px;
}
.autorization-form__button
{
    max-width: 150px;
    width: 100%;
    height: 40px;
    margin-top:30px;
    background: #E98E8E;
    border-radius: 3px;
    color:white;
    font-size: 15px;
    line-height: 18px;
    border:none;
}
.autorization-form__button:hover
{
    cursor: pointer;
    background-color: #e08181;
}
