.app
{
    max-width: 1370px;
    margin: 0 auto;
}
body
{
    margin: 0px;
}
.bnt-hover-active:focus
{
    outline: 0px;
}
.bnt-hover-active:hover
{
    cursor: pointer;
    background-color: #ecbebe;
}
